<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahmoudtarrasse.baking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.RecipeContentProvider"
            android:authorities="com.mahmoudtarrasse.baking"
            android:enabled="true"
            android:exported="true"
            android:syncable="true" />

        <service
            android:name=".sync.RecipeSyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service android:name=".sync.RecipeAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".ui.RecipeActivity"
            android:label="@string/title_activity_recipe"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mahmoudtarrasse.baking.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.StepActivity"
            android:label="@string/title_activity_step"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".ui.RecipeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mahmoudtarrasse.baking.ui.RecipeActivity" />
        </activity>

        <receiver android:name=".widget.RecipeWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.udacity.stockhawk.ACTION_DATA_UPDATED"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/recipe_appwidget_info" />
        </receiver>

        <receiver android:name="com.mahmoudtarrasse.baking.ui.RecipesListFragment$ConnectionChangeReceiver"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service android:name=".widget.RecipeRemoteViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>